<img class='screenshot' src="{{domain_dict[1].live.screenshot}}" />
            <h2>{{domain_dict[0]}}</h2>
            <h3 class="fs-subtitle">
                <b>{{ domain_dict[1].live.url_str }}</b> (Current page)
            </h3>
            <h3 class="fs-subtitle">
                {% for ip in domain_dict[1].ip %}
                - {{ip}} <br>
                {% endfor %}
            </h3>

          </div>

<form id="analysis-form" class="analysis-form" enctype="multipart/forfm-data" action="{{dom_id}}" method="post">
     <label for="ip">IP Address:</label>
    <input name="ip" type="text" value="{{domain_dict[1].final_ip}}">
     <label for="domain">Domain:</label>
    <input name="domain" type="text" value="{{domain_dict[1].final_domain}}">
    <label for="abuse">Abuse Email:</label>
    <input name="email" type="text" value="{{domain_dict[1].abuse}}">
    <label for="target">Target Site:</label>
    <input name="target" type="text" value="{{domain_dict[1].spoof}}">
    <br><br>
    <a href="/discard/phish/{{domid}}"><input id="discard" class="btn btn-danger" style="float: left; width: 20% !important; color: white;" value="Discard"></a>
  <input class="btn btn-primary" style="margin-left: 80%; width: 20% !important; color: white;" type="submit" value="Submit">

</form>


<div class="row">
       <div class="col-sm-12">
          <table class="redirects results-table table table-bordered table-striped">
              <thead>
               <tr>
                  <td colspan="2"><h4>{{domain_dict[1].live.redirects|length}} Redirects  <a id="show-redirect" style="user-select: none">show</a></h4> </td>
              </tr>
              </thead>
              <tbody>
              {% for redirect in domain_dict[1].live.redirects %}
              <tr>
                  <td>{{loop.index}}</td>
                  <td><a href="{{redirect}}" title="{{redirect}}">{{domain_dict[1].live.truncate_url(redirect)}}</a> {% if loop.index == 1 %} <b>(Source)</b> {% endif %} <i class="fa fa-share-square-o" style="float:right;"></i></td>
              </tr>
              {% endfor %}
                <tr>
                    <td>{{domain_dict[1].live.redirects|length + 1}}</td>
                    <td><a href="{{domain_dict[1].live.final_url}}" title="{{domain_dict[1].live.final_url}}">{{domain_dict[1].live.truncate_url(domain_dict[1].live.final_url)}}</a> <b>(Destination)</b> </td>
              </tr>


              </tbody>
          </table>
</div>
</div>

<div class="row">

    <div class="col-sm-6">
          <table class="results-table table table-bordered table-striped">
              <thead>
               <tr>
                  <td colspan="2"><h4>Page Information</h4></td>
              </tr>
              </thead>
              <tbody>

              <tr>
                  <td class="row-head">Page Title</td>
                  <td>{{domain_dict[1].live.title}}</td>
              </tr>
              {% if domain_dict[1].live.resp_code == -1 %}
              <tr class="badrow">
                  <td class="row-head">Response Code</td>
                  <td>EMPTY RESPONSE</td>
              </tr>

              {% else %}
            {% if domain_dict[1].live.resp_code >= 300 %}
               <tr class="badrow">
                   {% else %}
                   <tr>
                {% endif %}
                  <td class="row-head">Response Code</td>
                  <td>{{domain_dict[1].live.resp_code}}</td>
              </tr>
              {% endif %}

              </tbody>
          </table>
</div>


    <div class="col-sm-6">

        <table class="results-table table table-bordered table-striped">
            <thead>
                        <tr>
                          <td colspan="2"><h4>AI Predictions on URL Strings</h4></td>
                      </tr>
            </thead>
                      <tbody>

        {% if domain_dict[1].rf <= 50 %}
                      <tr>
                          {% else %}
                           <tr class="badrow">
            {% endif %}
                          <td class="row-head">RF Model Prediction</td>
                          <td>{{domain_dict[1].rf}}%</td>
                      </tr>

        {% if domain_dict[1].cnn <= 50 %}
                      <tr>
        {% else %}
                      <tr class="badrow">
            {% endif %}
                          <td class="row-head">CNN Model Prediction</td>
                          <td>{{domain_dict[1].cnn}}%</td>
                      </tr>
                  </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <table class="results-table table table-bordered table-striped">
            <thead>
                <tr>
                    <td colspan="3"><h4>Page Links (Total: <b>{{domain_dict[1].live.link_count}}</b>)</h4></td>
<!--            print("ext %:" + str(len(self.link_dict['ext']) / self.link_count * 100))-->
<!--            print("static %:" + str(len(self.link_dict['static']) / self.link_count * 100))-->
                </tr>
            </thead>
            {% if domain_dict[1].live.link_count > 0 %}
            <tbody>
                <tr>
                    <td>Local ({{domain_dict[1].live.link_dict['loc']|length}})</td>
                    <td>External ({{domain_dict[1].live.link_dict['ext']|length}})</td>
                    <td>Static ({{domain_dict[1].live.link_dict['static']|length}})</td>
                </tr>
                <tr>
                    <td>
                        {{ domain_dict[1].live.get_linkperc('loc') }}
                    </td>
                    <td>
                        {{ domain_dict[1].live.get_linkperc('ext') }}
                    </td>
                    <td>
                        {{ domain_dict[1].live.get_linkperc('static') }}
                    </td>
                </tr>
            </tbody>
            {% endif %}
        </table>
    </div>

    <div class="col-sm-6">
        <table class="results-table table table-bordered table-striped">
            <thead>
                <tr>
                    <td colspan="1"><h4>Unique Domain Links (Total: <b>{{domain_dict[1].live.uniq_dom.keys()|length}}</b>)</h4></td>
                </tr>
            </thead>
            <tbody>
            {% for uniq_dom, links in domain_dict[1].live.uniq_dom.items() %}
                <tr>
                    <td>
                        {{uniq_dom}} ({{links}})
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

<div class="row">
    <div class="col-sm-6">
        <table class="results-table table table-bordered table-striped">
            <thead>
            <tr>
                      <td colspan="2"><h4>Cert Information</h4></td>
                  </tr>
            </thead>
            <tbody>
                      {% if domain_dict[1].live.cert != none %}
                <tr>
                    <td class="row-head">Issuer</td>
                    <td>{{domain_dict[1].live.get_certissuer()}}</td>
                </tr>
              {% if domain_dict[1].live.ocsp == "GOOD" %}

              <tr>
                      {% else %}
              <tr class="badrow">
                          {% endif %}
                    <td class="row-head">OCSP Validity</td>
                    <td>{{domain_dict[1].live.ocsp}}</td>
                </tr>

    {% if domain_dict[1].live.get_expiry() == "Yes" %}
                      <tr class="badrow">
                          {% else %}
                      <tr>
                      {% endif %}
                      <td class="row-head">Expired?</td>
                      <td>{{domain_dict[1].live.get_expiry()}}</td>
                  </tr>



                      {% else %}
                  <tr class="badrow">
                      <td colspan="2">No certificate information!</td>
                  </tr>
                      {% endif %}


            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <table class="results-table table table-bordered table-striped">
            <thead>
             <tr>
                      <td colspan="2"><h4>Domain Information</h4></td>
                  </tr>
            </thead>
            <tbody>

                <tr>
                    <td class="row-head">Registrar</td>
                    <td>{{domain_dict[1].live.whois.registrar}}</td>
                </tr>
            <tr>
                    <td class="row-head">Creation Date</td>
                    <td>{{domain_dict[1].live.get_dates('creation')}}</td>
                </tr>
            <tr>
                    <td class="row-head">Expiration Date</td>
                    <td>{{domain_dict[1].live.get_dates('expiration')}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h4>URLs (Click to analyze specific URL)</h4>
          <table class="results-table table table-bordered">

              <tbody>
                <tr>
                  <td>
                          {% for url in domain_dict[1].url %}
                      {% if url.url_str == domain_dict[1].live.url_str %}
                      <div>- {{url.url_str}} <b>(Current Page)</b></div>
                      {% else %}
                      <div class="recurl">
                          <a href="/recurl/{{domid}}?url={{url.url_str}}">- {{url.url_str}}</a><br>
                      </div>
                      {% endif %}

                          {% endfor %}
                  </td>
    <!--                  <td>{{domain_dict[1].ip}}</td>-->
    <!--                  <td>{{domain_dict[1].rf}}</td>-->
                </tr>
              </tbody>
            </table>