<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
{% include './includes/head.html' %}
<body>

<div class="container">
<div id="modal-3" class="modal" data-modal-effect="slide-top">
  <div class="modal-content">
    <h2 class="fs-title">Confirm completion?</h2>
      <h3 class="fs-subtitle">All unprocessed domains will be automatically discarded!</h3>

  <p>Unprocessed Domains:</p>
      {% if unprocessed|length != 0 %}
      <p style="color: red;">-
      {% for udom in unprocessed %}
          {% if udom[1][1].live.dns == true and udom[1][1].live.access == true %}
      {% if loop.index == unprocessed|length %}
      {{udom[0]}}
      {% else %}
        {{udom[0]}},
          {% endif %}
      {% endif %}
      {% endfor %}
      </p>
      {% else %}
      <p>- None</p>
      {% endif %}

<p>Selected Domains:</p>
      {% if selected|length != 0 %}
      <p>-
      {% for sdom in selected %}
      {% if loop.index == selected|length %}
      {{sdom[0]}}
      {% else %}
        {{sdom[0]}},
      {% endif %}
      {% endfor %}
      </p>
      {% else %}
      <p>- None</p>
      {% endif %}

      <div class="modalnav-div">
                <input type="button" class="modal-btn btn btn-outline-secondary modal-close" value="Back">
        <a class="modal-btn btn btn btn-outline-secondary" href="/consolidate" >Confirm</a>
      </div>


  </div>
</div>
</div>

<div class="steps">
    {% include './includes/nav.html' %}

  <!-- USER INFORMATION FIELD SET -->
  <fieldset>
      <div class="page-form">
          {% include './includes/flash.html' %}
    <h2 class="fs-title">Analyze</h2>
    <h3 class="fs-subtitle">Determine if website is a valid phish</h3>
<div class="proceeddiv">
    <a href="/" class="proceedbtn btn-secondary btn-sm" style="float:left;margin-left: 11%;">Re-upload CSV</a>
      <a href="#" class="explanation proceedbtn btn-secondary btn-sm modal-trigger" data-modal-id="modal-3" style="margin-right:0px;">Proceed to Consolidate</a>
<!--    <button class="explanation btn btn-secondary " >hi</button>&ndash;&gt;-->
</div>

    <!-- Begin file upload area -->
      <div class="pagecontainer">
          <div class="heading">
              <div class="upperheading">
                  <div class="dompage">
                      <div>

                      <button style="outline: none;" class="btn fa fa-eye view-collapse"></button>

                    <span class="domp" style="margin-left:0px; text-align: left;">
                      Domain {{domid}}/{{dom_count}} <b>{% if domain_dict[1].discard %} (Discarded!) {% elif domain_dict[1].processed %} (Submitted!) {% endif %}</b>
                  </span>

                      </div>
                      <div class="dom-nav">
<!--                                        <a href="#">-->
<!--                      <i class="fa fa-eye view-icon" title="Switch views"></i>-->
<!--                  </a>-->
                      {% for i in range(dom_count) %}
                      {% if domid != i+1 %}

                      <a href="{{i+1}}">
                        <div class="view-icon">
                            <p>{{i+1}}</p>

                      {% else %}
                          <a>
                              <div class="view-icon icon-selected">
                                  {{i+1}}
                      {% endif %}

                                  {% if domain_dictfull[i][1].processed %}
                                  {% if domain_dictfull[i][1].discard %}
                                    <i class="fa fa-close" aria-hidden="true"></i>
                                  {% else %}
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                  {% endif %}
                                  {% elif domain_dictfull[i][1].live.dns == false or domain_dictfull[i][1].live.access == false %}
                                <i class="fa fa fa-warning" style="color: red; opacity:0.7;" aria-hidden="true"></i>
                                                                    {% elif domain_dictfull[i][1].check_benign() %}
                                  <i class="fa fa fa-warning" style="opacity:0.7;" title="This domain is potentially benign" aria-hidden="true"></i>

                                  {% endif %}

                              </div>
                          </a>


                      {% endfor %}

                      </div>
                  </div>


          </div>
                  <hr>
<!--                  {% if domain_dict[1].processed %}-->
<!--                  <h1 style="margin-bottom: 25px; color:gray;">COMPLETED</h1>-->
<!--                  {% endif %}-->
<!--              <div class="analyzeform">-->
<!--                  <form>-->
<!--                      <label for="fname">First name:</label>-->
<!--                      <input type="text" id="fname" name="fname"><br><br>-->
<!--                      <label for="lname">Last name:</label>-->
<!--                      <input type="text" id="lname" name="lname"><br><br>-->

<!--                      <button value="Submit" class="btn btn-primary">Test!</button>-->
<!--                  </form>-->
<!--              </div>-->
              {% if domain_dict[1].live.dns == false or domain_dict[1].live.access == false %}
                {% include './includes/pagedown.html' %}
              {% else %}
                {% include './includes/pageup.html' %}
                {% endif %}
<!--

<!--              <div class="navpage">-->
<!--                                 {% if domid <= 1 %}-->
<!--        <a href="{{domid + 1}}" class="navbtn btn btn-primary btn-sm" style="float: right;">Next</a>-->
<!--        {% elif domid == dom_count %}-->
<!--        <a href="{{domid - 1}}" class="navbtn btn btn-primary btn-sm">Previous</a>-->
<!--        {% else %}-->
<!--        <a href="{{domid - 1}}" class="navbtn btn btn-primary btn-sm">Previous</a>-->
<!--        <a href="{{domid + 1}}" class="navbtn btn btn-primary btn-sm" style="float: right;">Next</a>-->
<!--{% endif %}-->
<!--              </div>-->

      </div>
      </div>


  <!-- End file upload area -->
    <div id="loader">
      <div id="loadspinner"></div>
      <p id="loadtext"></p>
    </div>
  </fieldset>


</div>
</body>
</html>