<!DOCTYPE html>
<html>
{% include './includes/head.html' %}
<body>

<div class="steps">
    {% include './includes/nav.html' %}

  <!-- USER INFORMATION FIELD SET -->
  <fieldset>
      <div class="page-form">
          {% include './includes/flash.html' %}
    <h2 class="fs-title">Consolidate</h2>
    <h3 class="fs-subtitle">Download the consolidated CSV files</h3>

<div>
    <a href="/analyze/phish/1" class="proceedbtn btn-secondary btn-sm" style="margin-left: 11%;">Re-analyze Domains</a>
<!--    <button class="explanation btn btn-secondary " >hi</button>&ndash;&gt;-->
</div>

    <!-- Begin file upload area -->
          <div class="pagecontainer">
              <h2>Download Zip File</h2>
        <a href="/send_file/{{timestamp}}" class="btn btn-primary" style="margin:15px;">Download</a><br>

      </div>
        <div class="pagecontainer">
            <form action="/send_mail" method="post">
            <h2>Send Email</h2>
                <label for="emailaddr">From Email Address:</label>
                <input type="emailaddr" id="emailaddr" name="emailaddr" value="">
                <label for="pass">Password:</label>
                <input type="pass" id="pass" name="pass" value="">
            <label for="subject">Subject:</label>
            <input type="subject" id="subject" name="subject" value="Annex A report for {{today}}">

            <label for="emailbody">Body:</label>
            <textarea id="emailbody" name="emailbody" rows="6" cols="50"></textarea>
        <button class="btn btn-primary" style="margin:15px;" value="Submit">Send</a><br>
</form>
      </div>
  </div>
  <!-- End file upload area -->
    <div id="loader">
      <div id="loadspinner"></div>
      <p id="loadtext"></p>
        <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar"
              aria-valuenow="10" aria-valuemin="10" aria-valuemax="100" style="width:10%">
                0%
              </div>
            </div>
    </div>

  </fieldset>


</div>
</body>
</html>