<!DOCTYPE html>
<html>
{% include './includes/head.html' %}
<body>

<div class="steps">
    {% include './includes/nav.html' %}

  <!-- USER INFORMATION FIELD SET -->
  <fieldset>
      <div class="page-form">
          {% include './includes/flash.html' %}
    <h2 class="fs-title">Upload</h2>
    <h3 class="fs-subtitle">Upload the CSV file for initial cleaning</h3>

          <div class="proceeddiv">
<!--    <a href="/" class="proceedbtn btn-secondary btn-sm" style="float:left;margin-left: 11%;">Re-upload CSV</a>-->
      <a href="/analyze/1" class="proceedbtn btn-secondary btn-sm" style="margin-right:0px;">Proceed to Analyze</a>
</div>

    <!-- Begin file upload area -->
          <div class="pagecontainer">
      <form enctype="multipart/form-data" action="/" method="post" id="csvupload">
          <input type="file" name="csvfile">
          <input type="submit" form="csvupload" value="Submit" class="next action-button" />
        </form>
      </div>
      </div>
  <!-- End file upload area -->
    <div id="loader">
      <div id="loadspinner"></div>
      <p id="loadtext"></p>
        <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar"
              aria-valuenow="10" aria-valuemin="10" aria-valuemax="100" style="width:10%">
                0%
              </div>
            </div>
    </div>

  </fieldset>


</div>
</body>
</html>